[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    */.idea/*,
    */venv/*,
    .env,
    env,
    */migrations/*,
    venv/,
    asgi.py,
max-complexity = 10
max-line-length = 100
ignore = E126, W503
