[flake8]
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    */.idea/*,
    */venv/*,
    .env,
    */migrations/*,
    venv/,
max-complexity = 10
max-line-length = 120
ignore = F401