{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block main %}

    {% if form_valid %}
        <h1>Password set</h1>
        <p>Your password has been set.
        You can <a href="{% url "login" %}">log in now</a></p>
    {% else %}
        <h1>Reset your password</h1>
        {% if validlink %}
            <p>Please enter your new password twice:</p>
            <form method="post">
                {{ form.new_password1 }}<br>
                {{ form.new_password2 }}
                {% csrf_token %}
                <p><input type="submit" value="Change my password" /></p>
            </form>
        {% else %}
            <p>The password reset link was invalid, possibly because it has already
             been used. Please request a new password reset.</p>
               
        {% endif %}
    {% endif %}

{% endblock %}
