{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block main %}
 {% if form_valid %}
    <h1>Reset your password</h1>
    <p>We've emailed you instructions for setting your password.</p>
    <p>If you don't receive an email, please make sure
    you've entered the address you registered with.</p>
 {% else %}
    <h1>Password reset</h1>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form method="post">
     {{ form.email }}
     <p><input type="submit" value="Send e-mail"></p>
     {% csrf_token %}
    </form>
 {% endif %}
{% endblock %}
