{% extends 'base.html' %}

{% block title %}Change the password{% endblock %}

{% block main %}
{% if password_changed %}
<h1>Password changed successfully✔</h1>
<a href="{% url  'index' %}">To main page</a> | <a href="#">To profile</a>
{% else %}
    <h1>Password change</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.old_password }}<br>
        {{ form.new_password1 }}<br>
        {{ form.new_password2 }}<br>
        <button type="submit">Change</button>
        {{ form.errors }}
    </form>
{% endif %}
{% endblock %}