{% extends "base.html" %}

{% block title %}Reset your password{% endblock %}

{% block main %}

    {% if validlink %}
        <h1>Reset your password</h1>
        <p>Please enter your new password twice:</p>
        <form method="post">
            {{ form.new_password1 }}<br>
            {{ form.new_password2 }}<br>
            {{ form.errors }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password" /></p>
        </form>
    {% else %}
        <h1>Link is invalid</h1>
        <p>The password reset link was invalid, possibly because it has already
         been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}
