{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
<main>
    <nav>
        <h1>WebDev</h1>
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Log out</a> | {{ user }}
        {% else %}
            <a href="{% url 'login' %}">Log In</a>
            <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </nav>
    <hr>
    <br>
    {% block main %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
</main>
</body>
</html>