{% extends 'base.html' %}
{% load static %}

{% block title %}Channel | {{ channels.slug }}{% endblock %}

{% block main %}
  <div>{{ channels.name }}</div>

  <div>{{ channels.description }}</div>

  <div><a href="{{ channels.author.get_absolute_url }}">{{ channels.author }}</a></div>

  <div>{{ channels.date|date:"d E Y" }}</div>

  <div>Online: {{ channels.current_users.count }} users</div>

  <div>
      <div class="chat-messages" id="chat-messages">
          {% for m in mess %}<b>{{ m.user }}</b>: {{ m.text }}<br><small>{{ m.created_at|date:"d M H:i" }}</small><br>{% endfor %}
      </div>
  </div>

  <div>
      <form method="post">
          <input type="text" name="content" placeholder="Your message..." id="chat-message-input">

          <button id="chat-message-submit">Submit</button>
      </form>
  </div>
  <div><a href="{% url 'index' %}">Leave</a></div>
{% endblock %}

{% block scripts %}
{{ channels.slug|json_script:"json-roomname" }}
{{ request.user.username|json_script:"json-username" }}

<script src="{% static 'channels_app/js/chat.js' %}"></script>
{% endblock %}