{% extends 'base.html' %}

{% block title %}
    {% if tag %}
        Channels with tag {{ tag }}
    {% else %}
        Channels
    {% endif %}
{% endblock %}

{% block main %}
    {% with tag as tag_name %}
    {% if tag_name %}
        <h1>Channels with tag {{ tag_name }}</h1>
    {% endif %}
    <form action="" method="get">
        {{ form.query }}
        <input type="submit" value="Search">
    </form>
    <hr>
    {% for channel in channels %}
        {{ channel.name }}<br>
        {{ channel.description }}<br>
        {{ channel.author }}<br>
        {{ channel.date|date:"d E Y" }}<br>
        <small>{% for t in channel.tags.all %}| <a href="{{ t.get_absolute_url }}">{{ t }}</a> | {% endfor %}</small><br>
        <h4>Online: {{ channel.current_users.count }} users</h4>
        <a href="{{ channel.get_absolute_url }}">Join</a>
        <hr>
    {% empty %}
        <h2>Nothing was found for your query😕</h2>
    {% endfor %}
    <a href="{% url 'create_channel' %}">Create new channel</a><br>
    {% include 'paginator.html' with page_obj=channels %}
    {% endwith %}
{% endblock %}