{% extends 'base.html' %}

{% block title %}Channels{% endblock %}

{% block main %}
    {% for channel in channels %}
        {{ channel.name }}<br>
        {{ channel.description }}<br>
        {{ channel.author }}<br>
        {{ channel.date|date:"d E Y" }}<br>
        <small>{% for tag in channel.tags.all %}{{ tag }} | {% endfor %}</small><br>
        <h4>Online: {{ channel.current_users.count }} users</h4>
        <a href="{% url 'detail_channel' channel.slug %}">Join</a>
        <hr>
    {% endfor %}
    <a href="{% url 'create_channel' %}">Create new channel</a>

{% endblock %}