{% extends 'base.html' %}

{% block title %}
    {% if tag %}
        Channels with tag {{ tag }}
    {% else %}
        Channels
    {% endif %}
{% endblock %}

{% block main %}
    {% with tag as tag_name %}
    {% if tag_name %}
        <h1>Channels with tag {{ tag_name }}</h1>
    {% endif %}

    <form action="" method="get">
        {{ form.query }}
        {{ t_f.form.tags }}
        <input type="submit" value="Search">
    </form>
    
    <hr>
    {% for channel in channels %}
        {{ channel.name }}<br>
        {{ channel.description }}<br>
        <a href="{{ channel.author.get_absolute_url }}">{{ channel.author }}</a><br>
        {{ channel.date|date:"d E Y" }}<br>
        <small>{% for t in channel.tags.all %}| <a href="{{ t.get_absolute_url }}">{{ t }}</a> | {% endfor %}</small><br>
        <h4>
            {% with users_count=channel.current_users.count %}
                Online: {{ users_count }} user{{ users_count|pluralize }}
            {% endwith %}
        </h4>
        <a href="{{ channel.get_absolute_url }}">Join</a>
        <hr>
    {% empty %}
        {% if empty %}
            <h2>Nothing was found for your query😕</h2>
        {% else %}
            <h2>Create the first channel</h2>
        {% endif %}
    {% endfor %}
    {% if have_channel %}
        <a href="{{ request.user.channels.get_absolute_url }}">My channel</a><br>
    {% else %}
        <a href="{% url 'create_channel' %}">Create new channel</a><br>
    {% endif %}
    {% include 'paginator.html' with page_obj=channels %}
    {% endwith %}
{% endblock %}
